body {
    background-color: whitesmoke;
}

header {
    background: #003E73;
    text-align: center;
    margin: 0 -15px 30px -15px;
}

header > p {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    padding: 10px;
}

.countdown {
    border: 2px solid #003E73;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px;
}

.countdown h2 {
    margin: 0 auto;
}

.red {
    color: red;
}

canvas {
    max-height: 400px;
    max-width: 100%;
}

button {
    border: none;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: white;
    background: #003E7E;
}

.label {
    padding-right: 5px;
    font-size: 20px;
    font-weight: bold;
}

.steps-container {
    margin-bottom: 20px;
}

footer {
    text-align: center;
}

footer span {
    font-size: 15px;
}

footer a {
    text-decoration: none !important;
    color: #003E73 !important;
}